.totals {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > h2 {
  font-size: 24px;
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals__total, .totals__total-value, .cart-item__price-wrapper .price {
	text-decoration: none;
	display: block;
	font-family: var(--font-heading-family);
	font-weight: 400;
	letter-spacing: 0;
	font-size: 18px !important;
}

.totals__total-value {
  font-size: 1.8rem;
}

.cart__ctas + .totals {
  margin-top: 2rem;
}
